/* Widescreen ++ */
@media screen and (min-width: 1920px) {
    :root 
    {
        --before--after--top: 0;
        --basic-color: red;
        --nav-display: flex;
        --heading-tmargin: -800px;
        --sub-heading-fsize: 110px;
        --heading-fsize: 80px;

        --subheading-bmargin: 200px;
        --main-picHeight: 1300px;
        --pNumber-CTA: 50px;
        --nav-gRow: 5;
        --nav-gCol: 5/20;
        --a-fsize: 20px;
        --dDown-menu: none;
        --large-show: block;
        --small-show: none;
        --cta-gRow: 3/9;
        --cta-gCol: 4/7;
        --logo-gRow: 5;
        --logo-gCol: 1/4;
        --preHeader-height: 200px;
        --logo-fsize: 40px;
        --cta-phone2: 30px;
        --benefit-container-display: flex;
        --benefit-container-fdirection: row;
        --benefit-width: 20%;
        --benefit-header: 30px;
        --benefit-text: 25px;
        --benefit-container-gcg: 20px;
        --benefit-container-grg: 350px;
        --benefit-border: .5px solid rgba(0, 0, 0, 0.5);
        --benefit-container-bottomBorder: .5px solid rgba(0, 0, 0, 0.5);
        --benefit-container-mtop: 0px;
        --benefit-header-width: 90%;
        --benefit-para-width: 90%;
        --benefit-padding: 30px;
        --sect2-container-display: flex;
        --sect2-slider-width: 30%;
        --sect2-left-text-width: 50%;
        --sect2-left-text-gc: ;
        --sect2-left-text-gr: ;
        --sect2-left-head-gr: ;
        --sect2-left-head-gc: ;
        --sect2-left-plus-gr: ;
        --sect2-left-plus-gc: ;
        --sect2-left-para-gc: ;
        --sect2-left-para-gr: ;
        --sect2-left-lm-gc: ;
        --sect2-left-lm-gr: ;
        --sect2-left-slider-gc: ;
        --sect2-left-slider-gr: ;
        --sect2-margin-top: 200px;
        --sect2-slider-height: 1000px;
        --sect2-slider-left-margin: 10%;
        --sect2-slider-width: 30%;
        --sect2-left-text-width: 50%;
        --mainCTA-button-width: 500px;
        --mainCTA-button-fsize: 30px;
        --sec2-left-lm-marginleft: 25%;
        --side-services-display: flex;
        --HCWH-main-gc: 8/21;
        --HCWH-mTop: -1400px;
        --sub-heading-tmargin: -50px;
        --benefit-height: 300px;
        --white-space-top-height: 250px;
        --HCWH-headingContainer-width: 45%;

        --QUICK-DROP: ;
    }
}

/* Widescreen */
@media screen and (max-width: 1919px) {
    :root 
    {
        --before--after--top: 0;
        --basic-color: orange;
        --nav-display: flex;
        --heading-tmargin: -900px;
        --heading-fsize: 80px;
        --sub-heading-fsize: 110px;
        --subheading-bmargin: 100px;
        --main-picHeight: 1500px;
        --pNumber-CTA: 30px;
        --nav-gRow: 5;
        --nav-gCol: 5/21;
        --a-fsize: 14px;
        --dDown-menu: none;
        --large-show: block;
        --small-show: none;
        --cta-gRow: 3/9;
        --cta-gCol: 4/8;
        --logo-gRow: 5;
        --logo-gCol: 1/4;
        --preHeader-height: 200px;
        --logo-fsize: 30px;
        --cta-phone2: 30px;
        --benefit-container-display: flex;
        --benefit-container-fdirection: row;
        --benefit-width: 15%;
        --benefit-header: 25px;
        --benefit-text: 20px;
        --benefit-container-gcg: 20px;
        --benefit-container-grg: 350px;
        --benefit-border: .5px solid rgba(0, 0, 0, 0.5);
        --benefit-container-bottomBorder: .5px solid rgba(0, 0, 0, 0.5);
        --benefit-container-mtop: 0px;
        --benefit-header-width: 90%;
        --benefit-para-width: 90%;
        --benefit-padding: 30px;
        --sect2-container-display: flex;
        --sect2-slider-width: 30%;
        --sect2-left-text-width: 50%;
        --sect2-left-text-gc: ;
        --sect2-left-text-gr: ;
        --sect2-left-head-gr: ;
        --sect2-left-head-gc: ;
        --sect2-left-plus-gr: ;
        --sect2-left-plus-gc: ;
        --sect2-left-para-gc: ;
        --sect2-left-para-gr: ;
        --sect2-left-lm-gc: ;
        --sect2-left-lm-gr: ;
        --sect2-left-slider-gc: ;
        --sect2-left-slider-gr: ;
        --sect2-margin-top: 200px;
        --sect2-slider-height: 1000px;
        --sect2-slider-left-margin: 10%;
        --sect2-slider-width: 30%;
        --sect2-left-text-width: 50%;
        --mainCTA-button-width: 500px;
        --mainCTA-button-fsize: 30px;
        --sec2-left-lm-marginleft: 25%;
        --side-services-display: flex;
        --HCWH-main-gc: 8/21;
        --HCWH-mTop: -3500px;
        --sub-heading-tmargin: -50px;
        --benefit-height: 300px;
        --white-space-top-height: 250px;
        --HCWH-headingContainer-width: 45%;

        --QUICK-DROP: ;
    }
}

/* Desktop */
@media screen and (max-width: 1098px) {
    :root 
    {
        --before--after--top: -80%;
        --basic-color: orange;
        --nav-display: flex;
        --heading-tmargin: -1000px;
        --heading-fsize: 50px;
        --sub-heading-fsize: 80px;
        --subheading-bmargin: 450px;
        --main-picHeight: 1600px;
        --pNumber-CTA: 25px;
        --nav-gRow: 8;
        --nav-gCol: 5/21;
        --a-fsize: 13px;
        --dDown-menu: none;
        --large-show: block;
        --small-show: none;
        --cta-gRow: 4/8;
        --cta-gCol: 4/8;
        --logo-gRow: 5;
        --logo-gCol: 1/4;
        --preHeader-height: 200px;
        --logo-fsize: 25px;
        --cta-phone2: 30px;
        --benefit-container-display: flex;
        --benefit-container-fdirection: row;
        --benefit-width: 15%;
        --benefit-header: 20px;
        --benefit-text: 20px;
        --benefit-container-gcg: 20px;
        --benefit-container-grg: 350px;
        --benefit-border: .5px solid rgba(0, 0, 0, 0.5);
        --benefit-container-bottomBorder: .5px solid rgba(0, 0, 0, 0.5);
        --benefit-container-mtop: 0px;
        --benefit-header-width: 90%;
        --benefit-para-width: 90%;
        --benefit-padding: 30px;
        --sect2-container-display: flex;
        --sect2-slider-width: 30%;
        --sect2-left-text-width: 50%;
        --sect2-left-text-gc: ;
        --sect2-left-text-gr: ;
        --sect2-left-head-gr: ;
        --sect2-left-head-gc: ;
        --sect2-left-plus-gr: ;
        --sect2-left-plus-gc: ;
        --sect2-left-para-gc: ;
        --sect2-left-para-gr: ;
        --sect2-left-lm-gc: ;
        --sect2-left-lm-gr: ;
        --sect2-left-slider-gc: ;
        --sect2-left-slider-gr: ;
        --sect2-margin-top: 200px;
        --sect2-slider-height: 1000px;
        --sect2-slider-left-margin: 10%;
        --sect2-slider-width: 30%;
        --sect2-left-text-width: 50%;
        --mainCTA-button-width: 500px;
        --mainCTA-button-fsize: 30px;
        --sec2-left-lm-marginleft: 25%;
        --side-services-display: none;
        --HCWH-main-gc: 2/20;
        --HCWH-mTop: -3500px;
        --sub-heading-tmargin: -50px;
        --benefit-height: 300px;
        --white-space-top-height: 250px;
        --HCWH-headingContainer-width: 45%;

        --QUICK-DROP: ;
    }
}

/* Tablet */
@media screen and (max-width: 991px) {
    :root 
    {
        --before--after--top: -80%;
        --basic-color: yellow;
        --nav-display: none;
        --heading-tmargin: -1000px;
        --heading-fsize: 60px;
        --sub-heading-fsize: 80px;
        --subheading-bmargin: 350px;
        --main-picHeight: 1500px;
        --pNumber-CTA: 20px;
        --nav-gRow: ;
        --nav-gCol: ;
        --a-fsize: 20px;
        --dDown-menu: flex;
        --large-show: none;
        --small-show: block;
        --cta-gRow: 4/8;
        --cta-gCol: 9/16;
        --logo-gRow: 2;
        --logo-gCol: 9/14;
        --preHeader-height: 300px;
        --logo-fsize: 40px;
        --cta-phone2: 25px;
        --benefit-container-display: grid;
        --benefit-container-fdirection: row;
        --benefit-width: 70%;
        --benefit-header: 30px;
        --benefit-text: 25px;
        --benefit-container-gcg: 20px;
        --benefit-container-grg: 350px;
        --benefit-border: .5px solid rgba(0, 0, 0, 0.5);
        --benefit-container-bottomBorder: .5px solid rgba(0, 0, 0, 0.5);
        --benefit-container-mtop: 0px;
        --benefit-header-width: 90%;
        --benefit-para-width: 90%;
        --benefit-padding: 30px;
        --sect2-container-display: grid;
        --sect2-slider-width: 100%;
        --sect2-left-text-width: 90%;
        --sect2-left-text-gc: 3/20;
        --sect2-left-text-gr: 5/15;
        --sect2-left-head-gr: 4;
        --sect2-left-head-gc: 1/2;
        --sect2-left-plus-gr: 4/5;
        --sect2-left-plus-gc: 1/2;
        --sect2-left-para-gc: 1/18;
        --sect2-left-para-gr: 5/6;
        --sect2-left-lm-gc: 10;
        --sect2-left-lm-gr: 16/20;
        --sect2-left-slider-gc: 1/21;
        --sect2-left-slider-gr: 1/4;
        --sect2-margin-top: 350px;
        --sect2-slider-height: 100%;
        --sect2-slider-left-margin: 0px;
        --sect2-slider-width: 75%;
        --mainCTA-button-width: 500px;
        --mainCTA-button-fsize: 30px;
        --sec2-left-lm-marginleft: 25%;
        --side-services-display: none;
        --HCWH-main-gc: 1/21;
        --HCWH-mTop: -400px;
        --sub-heading-tmargin: -50px;
        --benefit-height: 300px;
        --white-space-top-height: 320px;
        --HCWH-headingContainer-width: 45%;

        --QUICK-DROP: ;
    }
}

/* Mobile Landscape */
@media screen and (max-width: 767px) {
    :root 
    {
        
        --before--after--top: -140%;
        --basic-color: blue;
        --nav-display: none;
        --heading-tmargin: -700px;
        --heading-fsize: 40px;
        --sub-heading-fsize: 70px;
        --subheading-bmargin: 400px;
        --main-picHeight: 1300px;
        --pNumber-CTA: 16px;
        --nav-gRow: ;
        --nav-gCol: ;
        --a-fsize: 20px;
        --dDown-menu: flex;
        --large-show: none;
        --small-show: block;
        --cta-gRow: 4/8;
        --cta-gCol: 8/17;
        --logo-gRow: 2;
        --logo-gCol: 9/14;
        --preHeader-height: 300px;
        --logo-fsize: 40px;
        --cta-phone2: 25px;
        --benefit-container-display: grid;
        --benefit-container-fdirection: row;
        --benefit-container-gcg: 20px;
        --benefit-container-grg: 300px;
        --benefit-width: 60%;
        --benefit-header: 20px;
        --benefit-text: 20px;
        --benefit-border: .5px solid rgba(0, 0, 0, 0.5);
        --benefit-container-bottomBorder: .5px solid rgba(0, 0, 0, 0.5);
        --benefit-container-mtop: 0px;
        --benefit-header-width: 90%;
        --benefit-para-width: 90%;
        --benefit-padding: 30px;
        --sect2-container-display: grid;
        --sect2-slider-width: 80%;
        --sect2-left-text-width: 90%;
        --sect2-left-text-gc: 3/20;
        --sect2-left-text-gr: 5/15;
        --sect2-left-head-gr: 4;
        --sect2-left-head-gc: 1/2;
        --sect2-left-plus-gr: 4/5;
        --sect2-left-plus-gc: 1/2;
        --sect2-left-para-gc: 1/18;
        --sect2-left-para-gr: 5/6;
        --sect2-left-lm-gc: 10;
        --sect2-left-lm-gr: 16/20;
        --sect2-left-slider-gc: 1/21;
        --sect2-left-slider-gr: 1/4;
        --sect2-margin-top: 350px;
        --sect2-slider-height: 100%;
        --sect2-slider-left-margin: 0px;
        --sect2-slider-width: 75%;
        --mainCTA-button-width: 500px;
        --mainCTA-button-fsize: 30px;
        --sec2-left-lm-marginleft: 25%;
        --side-services-display: none;
        --HCWH-main-gc: 1/21;
        --HCWH-mTop: -1600px;
        --sub-heading-tmargin: -50px;
        --benefit-height: 300px;
        --white-space-top-height: 320px;
        --HCWH-headingContainer-width: 45%;

        --QUICK-DROP: ;
    }
}

@media screen and (max-width: 644px) {
    :root 
    {
        --sect2-left-text-width: 90%;
        --before--after--top: -100%;
        --sect2-left-text-gc: 3/20;
        --sect2-left-text-gr: 5/15;
        --sect2-left-head-gr: 4;
        --sect2-left-head-gc: 3/10;
        --sect2-left-plus-gr: 4/5;
        --sect2-left-plus-gc: 1/2;
        --sect2-left-para-gc: 3/18;
        --sect2-left-para-gr: 5/6;
        --sect2-left-lm-gc: 10;
        --sect2-left-lm-gr: 16/20;
        --sect2-left-slider-gc: 1/21;
        --sect2-left-slider-gr: 1/4;
        --sect2-margin-top: 350px;
        --sect2-slider-height: 100%;
        --sect2-slider-left-margin: 0px;
        --sect2-slider-width: 75%;
        --mainCTA-button-width: 400px;
        --mainCTA-button-fsize: 25px;


    }
}

/* Mobile Portrait */
@media screen and (max-width: 479px) {
    :root 
    {
        --before--after--top: -140%;
        --basic-color: blue;
        --nav-display: none;
        --heading-tmargin: -500px;
        --heading-fsize: 40px;
        --sub-heading-fsize: 70px;
        --subheading-bmargin: 400px;
        --main-picHeight: 900px;
        --pNumber-CTA: 16px;
        --nav-gRow: ;
        --nav-gCol: ;
        --a-fsize: 20px;
        --dDown-menu: flex;
        --large-show: none;
        --small-show: block;
        --cta-gRow: 4/8;
        --cta-gCol: 7/18;
        --logo-gRow: 2;
        --logo-gCol: 9/14;
        --preHeader-height: 300px;
        --logo-fsize: 40px;
        --cta-phone2: 20px;
        --benefit-container-display: flex;
        --benefit-container-fdirection: column;
        --benefit-width: 100%;
        --benefit-header: 25px;
        --benefit-header-width: 50%;
        --benefit-para-width: 50%;
        --benefit-text: 20px;
        --benefit-container-gcg: 20px;
        --benefit-container-grg: 115px;
        --benefit-border: none;
        --benefit-container-bottomBorder: .5px solid rgba(0, 0, 0, 0.5);
        --benefit-container-mtop: -250px !important;
        --benefit-padding: 0px;
        --sect2-container-display: grid;
        --sect2-left-text-width: 90%;
        --sect2-left-text-gc: 3/20;
        --sect2-left-text-gr: 5/15;
        --sect2-left-head-gr: 4;
        --sect2-left-head-gc: 1/2;
        --sect2-left-plus-gr: 4/5;
        --sect2-left-plus-gc: 1/2;
        --sect2-left-para-gc: 3/20;
        --sect2-left-para-gr: 5/6;
        --sect2-left-lm-gc: 1/20;
        --sect2-left-lm-gr: 7;
        --sect2-left-slider-gc: 1/21;
        --sect2-left-slider-gr: 1/4;
        --sect2-margin-top: 200px;
        --sect2-slider-height: 100%;
        --sect2-slider-left-margin: 0;
        --sect2-slider-width: 300px;
        --mainCTA-button-width: 300px;
        --mainCTA-button-fsize: 20px;
        --sec2-left-lm-marginleft: 0px;
        --side-services-display: none;
        --HCWH-main-gc: 1/21;
        --HCWH-mTop: 0px;
        --sub-heading-tmargin: -50px;
        --benefit-height: 300px;
        --white-space-top-height: 320px;
        --HCWH-headingContainer-width: 45%;

        --QUICK-DROP: ;
    }
}

/* Mobile Portrait */
@media screen and (max-width: 400px) {
    :root 
    {
        --before--after--top: -140%;
        --basic-color: blue;
        --nav-display: none;
        --heading-tmargin: -550px;
        --heading-fsize: 30px;
        --sub-heading-fsize: 40px;
        --subheading-bmargin: 520px !important;
        --main-picHeight: 900px;
        --pNumber-CTA: 16px;
        --nav-gRow: ;
        --nav-gCol: ;
        --a-fsize: 20px;
        --dDown-menu: flex;
        --large-show: none;
        --small-show: block;
        --cta-gRow: 4/8;
        --cta-gCol: 7/18;
        --logo-gRow: 2;
        --logo-gCol: 9/14;
        --preHeader-height: 300px;
        --logo-fsize: 40px;
        --cta-phone2: 20px;
        --benefit-container-display: flex;
        --benefit-container-fdirection: column;
        --benefit-width: 100%;
        --benefit-header: 25px;
        --benefit-header-width: 50%;
        --benefit-para-width: 50%;
        --benefit-text: 20px;
        --benefit-container-gcg: 20px;
        --benefit-container-grg: 115px;
        --benefit-border: none;
        --benefit-container-bottomBorder: .5px solid rgba(0, 0, 0, 0.5);
        --benefit-container-mtop: -500px !important;
        --benefit-padding: 0px;
        --sect2-container-display: grid;
        --sect2-left-text-width: 90%;
        --sect2-left-text-gc: 3/20;
        --sect2-left-text-gr: 7/18;
        --sect2-left-head-gr: 4;
        --sect2-left-head-gc: 1/2;
        --sect2-left-plus-gr: 4/5;
        --sect2-left-plus-gc: 1/2;
        --sect2-left-para-gc: 3/20;
        --sect2-left-para-gr: 5/6;
        --sect2-left-lm-gc: 1/20;
        --sect2-left-lm-gr: 7;
        --sect2-left-slider-gc: 1/21;
        --sect2-left-slider-gr: 1/6;
        --sect2-margin-top: 200px;
        --sect2-slider-height: 100%;
        --sect2-slider-left-margin: 0;
        --sect2-slider-width: 80vw;
        --mainCTA-button-width: 200px;
        --mainCTA-button-fsize: 20px;
        --sec2-left-lm-marginleft: 0px;
        --side-services-display: none;
        --HCWH-main-gc: 1/21;
        --HCWH-mTop: 400px;
        --sub-heading-tmargin: -20px;
        --benefit-height: 500px;
        --white-space-top-height: 320px;
        --HCWH-headingContainer-width: 100%;

        --QUICK-DROP: ;
    }
}

.pageContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100% !important;
    overflow-x: hidden !important;
}

body 
{
    
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw !important;
    overflow-x: hidden !important;
}

/* 
    Preheader
*/

.preHeader 
{
    display: grid;
    position: fixed !important;
    -webkit-backface-visibility: hidden !important;
    z-index: 20;
    margin-bottom: 10px;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(10, 10%);
    justify-content: end;
    align-items: center;
    background-color: white;
    width: 100vw;
    height: var(--preHeader-height);
    border-bottom: rgba(0, 0, 0, 0.292) solid 1.5px;
}

.whiteSpace
{
    position: fixed;
    background-color: white;
    z-index: 2;
    width: 100vw !important;
    height: var(--white-space-top-height);
}

.logo 
{
    display: flex;
    font-size: var(--logo-fsize);
    font-family: helvetica;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    grid-row: var(--logo-gRow);
    grid-column: var(--logo-gCol);
    height: 100%;
    width: 100%;
}

.plus
{
    color: #ffc423;
    font-weight: 100 !important;
}

.cta 
{
    display: grid;
    padding: 5px;
    text-align: center;
    align-content: center;
    margin-left: 10px;
    grid-row: var(--cta-gRow);
    grid-column: var(--cta-gCol);
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #ffc423;
    color: black;
    width: 50%;
    height: 100%;
}

.callNow 
{
    justify-self: center;
    font-style: bold;
    font-weight: 900;
    font-family: 'Helvetica';
    font-size: 30px;
    word-wrap: normal;
}


.ctaPhone 
{
    display: var(--large-show);
    grid-column: 15/19;
    grid-row: 2;
    height: 100%;
    background-color: transparent;
    font-size: var(--pNumber-CTA);
    color: #ffc423;
    font-family: 'Helvetica';
    border: none;
    align-self: center;
}

.linkContainer 
{
    background-color: transparent;
    grid-row: var(--nav-gRow);
    grid-column: var(--nav-gCol);
    display: var(--nav-display);
    justify-content: space-evenly;
    justify-self: end;
    padding-right: 50px;
}



a 
{
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 100;
    font-size: var(--a-fsize);
    text-decoration: none;
    color: black;
    font-family: helvetica;
}

.separation 
{
    width: 2px;
    height: 18px;
    background-color: rgba(0, 0, 0, 0.5);
}

.blackNav 
{
    display: var(--dDown-menu);
    justify-content: space-between;
    align-self: end;
    width: 100%;
    height: 50px;
    background-color: #2a2a2e;
    grid-row: 10;
    grid-column: 1/21;
    z-index: 20;
    
}

.ctaPhone2 
{
    display: var(--small-show);
    border: none;
    word-wrap: none;
    font-size: var(--cta-phone2);
    font-family: helvetica;
    justify-self: center !important;
    background-color: transparent;
    color: #ffc423;
    width: 50%;
    height: 100%;
}

.dropDown 
{
    display: var(--dDown-menu);
    padding: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-end;
    align-items: end;
    align-self: center;
    
    height: 50%;
    width: 25%;
    background-color: transparent;
}

.top
{
    width: 40px;
    height: 4px;
    background-color: #ffc423;
}

.middle
{
    width: 40px;
    height: 4px;
    background-color: #ffc423;
}

.bottom
{
    width: 40px;
    height: 4px;
    background-color: #ffc423;
}

/* 
    Menu Modal Styles
*/

.menuModalContainer 
{
    display: none;
    position: absolute;
    background-color: #ffc423;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    top: 2000px;
}

.menuModal
{
    display: none;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
    padding-top: 20px;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    top: 1500px;
}

.closeMenuModalButton
{
    background-color: #2a2a2e;
    position: fixed !important;
    width: 70px;
    height: 50px;
    border-radius: 2px;
    border: none;
    color: white;
    font-size: 30px;
    grid-row: 1;
    grid-column: 19/20;
    
    justify-self: center;
}

.menuModalLinkContainer 
{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 90%;
    justify-content: flex-end;
    align-self: stretch;
    margin-right: -10%;
    margin-top: -20px;
    align-content: center;
    grid-row: 1/10;
    grid-column: 1/21;
    background-color: #2a2a2e;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.menuModalLinkContainer > * 
{
    display: grid;
    align-content: center;
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin-left: -5px;
    text-indent: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    transition: ease-in-out .25s;
    
}

.menuModalLinkContainer > *:hover {
    background-color: white;
    color: #ffc423;
    
}

/* 
    Intro Picture
*/

.picture 
{
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: url("../Images/above-fold4.jpg") !important;
    position: relative;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    width: Auto;
    height: var(--main-picHeight);
    background-attachment: fixed !important;
    background-color: white;
    grid-row: 1/3;
    grid-column: 2/6;
    justify-content: space-around;
    overflow-x: hidden !important;
}

.heading
{
    margin-top: var(--heading-tmargin);
    z-index: 6;
    font-family: oswald;
    font-style: italic;
    color: #ffcf4b;
    justify-self: center;
    align-self: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    font-size: var(--heading-fsize);
}

.subHeading 
{
    margin-top: var(--sub-heading-tmargin);
    
    color: white;
    text-align: center;
    font-size: var(--sub-heading-fsize);
    font-family: Oswald;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    z-index: 6;
    word-wrap: normal;
}

.mainCTAContainer 
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainCTA 
{
    width: var(--mainCTA-button-width);
    height: 60px;
    font-size: var(--mainCTA-button-fsize);
    margin-bottom: var(--subheading-bmargin);
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 2px;
    background-color: #ffc423;
    color: white;
    z-index: 7;
}

.space 
{
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 300px;
}

.space::before 
{
    content: '';
    z-index: 5;
    position: absolute;
    top: var(--before--after--top);
    bottom: 0;
    left: -150%;
    right: 0;
    background-color: white !important;
    width: 100% !important;
    height: 100% !important;
    transform: skew(80deg) scale(3);
}

.space::after 
{
    content: '';
    z-index: 6;
    top: var(--before--after--top);
    right: 0;
    left: 155%;
    bottom: 0;
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
    transform: skew(-80deg) scale(3);
}

/* 
    Benefit Section
*/

.benefitContainer
{
    display: var(--benefit-container-display);
    margin-top: var(--benefit-container-mtop);
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: space-evenly;
    justify-items: center;
    grid-row-gap: var(--benefit-container-grg);
    grid-column-gap: var(--benefit-container-gcg);
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    flex-direction: var(--benefit-container-fdirection);
    background-color: white !important;
    z-index: 7;
}

.benefit 
{
    width: var(--benefit-width);
    
    height: var(--benefit-height);
    border: var(--benefit-border);
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: var(--benefit-padding);
    align-items: center;
    justify-content: center !important;
    justify-items: center !important;
    border-bottom: var(--benefit-container-bottomBorder);
}

.b1 
{
    grid-column: 1;
    grid-row: 1;
}

.b2 
{
    grid-column: 2;
    grid-row: 1;
}

.b3
{
    grid-column: 1;
    grid-row: 2;
}

.b4
{
    grid-column: 2;
    grid-row: 2;
}

.benefitPic 
{
    margin-top: -100px;
}

.benefitHeader 
{
    width: var(--benefit-header-width);
    text-align: center;
    font-family: helvetica;
    font-size: var(--benefit-header);
    justify-self: center;
}

.benefitPlus
{
    font-size: 50px;
    color: #ffc423;
}

.benefitPara
{
    width: var(--benefit-para-width);
    text-align: center;
    font-style: italic;
    font-weight: 500;
    font-size: var(--benefit-text);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* 
    Who we are section
*/

.whoWeAreContainer
{
    position: relative;
    z-index: 6;
    margin-top: 20px;
    height: 5000px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-repeat: repeat;
}

.whoWeAreContainer::before 
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../Images/subtle-prism.svg');
    filter: grayscale(1);
    overflow-x: hidden;
}

.whoWeAreContainer::after 
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.35);
}

/* 
    Section 2 
*/

.space2 
{
    z-index: 6;
    position: relative;
    margin-top: -50px;
    background-color: white;
    width: 100%;
    height: 150px;
}

.space2::before
{
    content: '';
    /* z-index: 6; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: -200px;
    right: 0px;
    left: 0;
    bottom: 0;
    background-color:white;
    transform: perspective(1rem) scale(8) rotate(8deg);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.sect2Container 
{
    display: var(--sect2-container-display);
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
    /* padding: 50px;
    padding-right: -40px; */
    z-index: 7;
    margin-top: var(--sect2-margin-top); 
    background-color: transparent;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.sect2LeftText
{
    display: flex;
    flex-direction: column;
    width: var(--sect2-left-text-width);
    grid-row: 2/20;
    grid-column: 2/10;
    z-index: 2;
    grid-row: var(--sect2-left-text-gr);
    grid-column: var(--sect2-left-text-gc);
}

.sect2Head 
{
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    
    width: 50%;
    grid-row: var(--sect2-left-head-gr);
    grid-column: var(--sect2-left-head-gc);
    z-index: 4;
}

.plus 
{
    z-index: 4;
    font-size: 50px;
    grid-row: var(--sect2-left-plus-gr);
    grid-column: var(--sect2-left-plus-gc);
}

.sect2Para 
{
    position: relative;
    z-index: 2;
    font-size: 23px;
    line-height: 1.8em;
    word-spacing: .05em;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-row: var(--sect2-left-para-gr);
    grid-column: var(--sect2-left-para-gc) !important;
}

.sect2Para::before 
{
    content: '';
    top: 600px;
    left: 300px;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 1%;
    background-color: white;
    transform: perspective(1rem) rotateY(2deg) scale(30);
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3);

}

.learnMore
{
    z-index: 5;
    margin-left: var(--sec2-left-lm-marginleft);
    color: white;
    font-size: 25px;
    background-color: #ffc423;
    font-style: italic;
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 80px;
    grid-row: var(--sect2-left-lm-gr) !important;
    grid-column: var(--sect2-left-lm-gc) !important;
    justify-self: center;
}

.sect2Slider
{
    position: relative;
    grid-column: 11/20;
    grid-row: 2/20;
    z-index: 2;
    width: var(--sect2-slider-width);
    margin-left: var(--sect2-slider-left-margin);
    height: var(--sect2-slider-height);
    padding: 10px;
    background-image: url("../Images/above-fold.jpg");
    background-position-x: -100px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-self: center !important;
    grid-row: var(--sect2-left-slider-gr);
    grid-column: var(--sect2-left-slider-gc);
}

.sect2Slider::before 
{
    content: '';
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #ffc423ab;
    position: absolute;
}

.picContainer
{
    display: grid;
    z-index: 5;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(20, 5%);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.picContainerHeader
{
    justify-self: center;
    padding: 10px;
    z-index: 5;
    width: 100%;
    grid-row: 1/6;
    grid-column: 1/11;
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.buttonLeft 
{
    z-index: 3;
    grid-column: 1;
    grid-row: 8;
    font-size: 50px;
    font-weight: 100;
    color: #ffc423;
    margin-left: -20px;
    background-color: white;
    border-radius: 0px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
}

.buttonRight
{
    z-index: 3;
    padding-bottom: 5px;
    grid-column: 10;
    grid-row: 8;
    font-size: 50px;
    font-weight: 100;
    color: #ffc423;
    margin-right: -20px;
    background-color: white;
    border-radius: 0px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/*
*   Section 3 How Can We Help
*/

.howCanWeHelp 
{
    width: 90%;
    height: 2500px;
    background-color: transparent;
    z-index: 7;
    padding: 20px;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
    margin-top: var(--HCWH-mTop);
}

.sideServices
{
    width: 100%;
    height: 50%;
    background-color: transparent;
    grid-column: 1/7;
    grid-row: 1/10;
    display: var(--side-services-display);
    flex-direction: column;
}

.sideServices > div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    position: relative;
    transition: ease-in-out .25s;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

.sideServices > div:hover {
    background-color: #ffc423a0;
}

.sideServices > div::before
{
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1 !important;
}

.service1::before {
    background-image: url('../Images/wheelchair.jpg');
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1 !important;
    background-size: cover;
}
.service2::before {
    background-image: url('../Images/family.jpg');
    background-size: cover;
}

.service3::before {
    background-image: url('../Images/criminal.jpg');
    background-size: cover;
}

.service4::before {
    background-image: url('../Images/business.jpg');
    background-size: cover;
}

.service5::before {
    background-image: url('../Images/estate.jpg');
    background-size: cover;
    z-index: -1;
}

.howCanWeHelp > *
{
    width: 100%;
    height: 100%;
}

.howCanWeHelpMain
{
    width: 100%;
    height: 50%;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
    text-align: center;
    grid-row: 1/21;
    grid-row-gap: 10px;
    grid-column: var(--HCWH-main-gc);
    font-family: Arial, Helvetica, sans-serif;
}

.head
{
    grid-column: 1/21;
    grid-row: 1;
    height: 100%;
    width: 100%;
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: start;
    text-align: center;
    background-color: transparent;
}

.HCWH-Plus
{
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: start;

    grid-column: 1/21;
    grid-row: 2;
    font-size: 50px;
    color: #ffc423;
}

.preamble
{
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    grid-column: 1/21;
    grid-row: 3;
    font-size: 20px;
    font-style: italic;
}

.HCWH-headingContainer
{
    width: 100%;
    height: 80%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    grid-row: 4/21;
    grid-column: 1/21;
    grid-template-rows: repeat(20, 5%);
    grid-template-columns: repeat(20, 5%);
}

.HCWH-headingContainer > *
{
    display: flex;
    text-align: center;
    width: var(--HCWH-headingContainer-width);
    height: 5%;
    color: #2a2a2e;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.s3-head
{
    font-size: 35px;
    color: #ffc423;
    font-weight: 100 !important;
}

.s3-para
{
    font-size: 20px;
}



